@font-face {
  font-family: 'CustomFont';
  src: url('ComicRelief-Regular.ttf');
}
body {
  font-family: CustomFont;
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}

.title {
  font-size: 3rem;
}
