* {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
}

.container {
  width: 950px;
  margin: auto;
}

nav {
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  overflow: hidden;
  background-color: oklch(27.9% 0.041 260.031);
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.about {
  padding: 48px;
  position: absolute;
  bottom: 0;
  width: inherit;
  margin-bottom: 3rem;
  background-image: url("bg.jpg");
}

.pizza {
  position: absolute;
  left: 820px;
  bottom: 250px;
}

.about-img {
  border-radius: 16px;
  float: left;
  margin-right: 60px;
}

.about h2 {
  margin-bottom: 24px;
}
